.table, .td, .th {    
    border: 1px solid #ddd;
    text-align: left;
}
.table {
    border-collapse: collapse;
}
.th, .td {
    padding: 15px;
}
th{
    text-align:center;
}
.text_field{
    width:13em;
    padding:5px;
}

.btn_menu{
    margin: 20px;
    padding: 10px;
}